<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FelicaCashingSystemV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="UserData" connectionString="DataDir = .\Database\UserData" />
  </connectionStrings>
  <applicationSettings>
    <FelicaCashingSystemV2.Properties.Settings>
      <setting name="SmtpHost" serializeAs="String">
        <value>ugs-mail.kochi-tech.ac.jp</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SmtpUser" serializeAs="String">
        <value>robot</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>age2gold</value>
      </setting>
      <setting name="MailFrom" serializeAs="String">
        <value>robotclub_kut@yahoo.co.jp</value>
      </setting>
      <setting name="AdminCardUids" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>01-16-04-00-97-0E-4C-0C</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AvatarSize" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="ImageFileFilter" serializeAs="String">
        <value>画像ファイル|*.jpg;*.png;*.gif;*.bmp;*.tiff|すべてのファイル|*.*</value>
      </setting>
      <setting name="RobotClubUri" serializeAs="String">
        <value>http://www.ugs.kochi-tech.ac.jp/robot/lobby/main_lobby.htm</value>
      </setting>
      <setting name="FelicaUri" serializeAs="String">
        <value>http://www.sony.co.jp/Products/felica/</value>
      </setting>
    </FelicaCashingSystemV2.Properties.Settings>
  </applicationSettings>
</configuration>